

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

body{
    
  background-image: linear-gradient(to right, #6BC3AA, #a5dfbc);
}

.container{
  display: flex;
  justify-content: center;
 
  
}

header{
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1rem;
  background-color: azure;
  
}

h1{
  margin: 20px;
}



button{
  font-family: 'Verdana';
  font-size: 4vh;
  height: 17vh;
  width: 20vh;
  justify-content: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  background-color: rgb(228, 253, 253);
  border: rgba(86, 42, 247, 0.788) solid 2px;
  border-radius: 20px;
  
  
}

#resp, #pap, #respStore, #respu, #papp, #col1, #col2, #col3, #col4, #col5, #col6, #dol1, #dol2, #dol3, #dol4, #dol5, #dol6{
  font-family: 'Verdana';
  font-size: 4vh;
  height: 17vh;
  width: 20vh;
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(228, 253, 253);
  border: rgba(86, 42, 247, 0.788) solid 2px;
  border-radius: 20px;
  
  
}

#dis{
  
    height: 17vh;
    width: 20vh;
    margin-top: 1rem;
    background-color: rgba(228, 253, 253, 0);
    border: solid black 1px;
  }



button:hover{
  background-color: rgba(15, 180, 180, 0.637);
  transition: all ease 0.2s;
}

#upper{
font-family: 'Verdana';
width: 30vh;
height: 8vh;
background-color: azure;
border: azure solid 1px;
font-size: 2vh;
border-radius: 0px;
color: black;

}



#upper:hover{
  background-color: rgba(15, 180, 180, 0.637);

}